
header{
    width: 1100px; height: 65px; 
     gap: 20px; justify-content: end;
    display: flex; margin-bottom: 40px; align-items: center;
}
.rasm{
    margin-right: 600px;
}
.doctor{
    font-size: 15px; font-weight: 600; 
}
.doctor:hover{
    color: rgb(33, 18, 198);
}
.virtual{
    width: 400px; height: 280px; 
}
.yu{
    margin-left: 130px; width: 140px; height: 30px;
    border-radius: 10px; background-color: rgb(76, 76, 226);
}
   .yu:hover{
    background-color: brown;
   }
   .section1{
    width: 1100px; height: 450px; 
    display: flex;
   }
   .rasm3{
    margin-left: 100px;
   }
   .newsection{
    width: 1100px; height: 900px; 

   }
   .service{
    width: 900px; height: 150px; 
    margin: 20px; margin: auto;
   }
   .fr{
    width: 1000px; height: 600px;
    margin: auto; margin-top: 50px;
    display: flex; gap: 20px; flex-wrap: wrap;
    justify-content: center;
   }
   .bola{
    width: 300px; height: 270px; background-color: rgb(176, 176, 169);
    border-radius: 5px;
   }
   .lup{
    margin-top: 30px; margin-left: 30px;
   }
   .bola:hover{
    background-color: blue;
   }
   .harvard{
    margin-top: 30px; margin-left: 30px;
   }
   .harvard2{
    margin-top: 30px; margin-left: 30px;
   }
   .harvard3{
    margin-top: 30px; margin-left: 30px;
   }
   .harvard4{
    margin-top: 30px; margin-left: 30px;
   }
   .h5{
    margin-top: 30px; margin-left: 30px;
   }
   .learn{
    width: 200px; height: 40px; border-radius: 10px; 
   }
   .learn:active{
    background-color: brown;
   }
   .nimadur{
    width: 1100px; height: 500px; 
    
   }
  .something{
    width: 1000px; height: 440px; 
    display: flex;
  }
   .nimadur2{
    width: 1100px; height: 550px;
   }
   .late{
    width: 1000px; height: 400px; 
    margin: auto; display: flex; gap: 20px;
   }
   .lateb{
    width: 315px; height: 400px; 
   }
   .gh{
    margin-left: 480px; width: 150px; height: 40px; border-radius: 10px;
   }
   .gh:active{
    background-color: aqua;
   }
   .lateb:active{
    background-color: rgb(232, 232, 119);
   }
   footer{
    width: 1100px; height: 150px; background-color: rgb(22, 177, 177);
    display: flex; justify-content: space-between;
   }
